<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Lista de Compras</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item href="dashboard" color="secondary">
    <ion-label>Página inicial</ion-label>
    <ion-icon name="home-sharp" size="large"></ion-icon>
  </ion-item>
 

  <ion-list *ngFor="let categoria of Categorias ">
    <ion-item color="light">
      <ion-icon name="pricetag" color="medium" ></ion-icon>
    <ion-label class="titulo_categoria"><h3> {{categoria.categoria_name}}</h3> </ion-label>
  </ion-item>


  <ion-item *ngFor="let data of filtraDados(categoria.id)">
      <ion-label  [ngClass]="data.marcado == true ? 'marcado': 'normal'">
        {{data.produto_name}} - {{data.quantidade}}{{data.unidade}}
      </ion-label>
    <ion-checkbox color="primary" slot="end" (click)="change(data.id)" ></ion-checkbox>
  </ion-item>

  </ion-list>
</ion-content>
