<ion-header>
  <ion-toolbar>
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button expand="block" href="dashboard">Página Inicial</ion-button>
  
  <ion-list lines="full">
    <form [formGroup]="mainForm" (ngSubmit)="storeData()">
        <ion-label position="floating">Novo produto</ion-label>
      <ion-item>
        <ion-label position="floating">Produto</ion-label>
        <ion-input formControlName="produto" type="text" required></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="floating">Categoria</ion-label>
        <ion-input formControlName="categoria" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Quantidade</ion-label>
        <ion-input formControlName="quantidade" type="text" required></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="floating">Unidade</ion-label>
        <ion-input formControlName="unidade" type="text" required></ion-input>
      </ion-item>

      <ion-row>
        <ion-col>
          <ion-button type="submit" color="primary" shape="full" expand="block">
            Adicionar Produto
          </ion-button>
        </ion-col>
      </ion-row>
    </form>
  </ion-list>

    <ion-list>
    <ion-list-header>
      Produtos
    </ion-list-header>

    <div lines="inset" *ngFor="let categoria of Categorias">
      <ion-label > {{categoria.categoria_name}} </ion-label>
      <ion-item lines="inset" *ngFor="let data of filtraDados(categoria.id)">
        <ion-label>
          <h5>{{data.produto_name}} - {{data.quantidade}}{{data.unidade}} {{data.categoriaId}}</h5>
        </ion-label>
        <div class="item-note" item-end>
          <ion-icon name="create" style="zoom:2.0" [routerLink]="['/produto/', data.id]"></ion-icon>        
          <ion-icon name="trash" style="zoom:2.0" (click)="deleteProduto(data.id)"></ion-icon>
        </div>
         <br>
      </ion-item>
    </div>
  
  </ion-list>
</ion-content>