<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Produtos</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-item href="dashboard" color="secondary">
    <ion-label>Página inicial</ion-label>
    <ion-icon name="home-sharp" size="large"></ion-icon>
  </ion-item>
    <ion-list>
    <ion-list-header>
     <h3> Produtos</h3>
    </ion-list-header>
    <div lines="inset" *ngFor="let categoria of Categorias">
      <ion-item color="light">
        <ion-icon name="pricetag" color="medium" ></ion-icon>
      <ion-label class="titulo_categoria"><h3> {{categoria.categoria_name}}</h3> </ion-label>
    </ion-item>
      <ion-item lines="inset" *ngFor="let data of filtraDados(categoria.id)">
        <ion-label>
          <h4>{{data.produto_name}} - {{data.quantidade}}{{data.unidade}} </h4>
        </ion-label>
        <div class="item-note" item-end>
          <ion-icon name="create" style="zoom:2.0" color="primary" [routerLink]="['/produto/', data.id]"></ion-icon>        
          <ion-icon name="trash" style="zoom:2.0" color="danger" (click)="deleteProduto(data.id)"></ion-icon>
        </div>
         <br>
      </ion-item>
    </div>
    <ion-fab vertical="bottom" horizontal="end" slot="fixed">
      <ion-fab-button  [routerLink]="['/produto/', 0]">
        <ion-icon name="add"></ion-icon>
      </ion-fab-button>
    </ion-fab>
  </ion-list>
</ion-content>